# 2. 기초통계량 (평균, 중앙값, IQR, 표준 편차 등)

### 1) 중심측도를 나타내는 값(평균, 중앙값, 최빈값)

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("mtcars.csv")
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
df.shape

(32, 12)

In [6]:
#평균값 구하기
mpg_mean = df['mpg'].mean()
print(mpg_mean)

20.090624999999996

In [7]:
#중앙값 구하기
mpg_median = df['mpg'].median()
print(mpg_median)

19.2

In [9]:
#최빈값 구하기
mpg_mode = df['cyl'].mode()
print(mpg_mode)
print(mpg_mode[0])

0    8
dtype: int64
8

In [11]:
df['cyl'].value_counts()

8    14
4    11
6     7
Name: cyl, dtype: int64

## 2) 산포도를 나타내는 값(분산, 표준편차, IQR, 범위(최대-최소) 등)

In [13]:
# 분산
mpg_var = df['mpg'].var()
print(mpg_var)

36.32410282258065

In [14]:
# 표준편차
mpg_std = df['mpg'].std()
print(mpg_std)

6.026948052089105

In [15]:
# IQR
Q1 = df['mpg'].quantile(.25)
print(Q1)

15.425

In [16]:
Q3 = df['mpg'].quantile(.75)
print(Q3)

22.8

In [17]:
IQR = Q3 - Q1
print(IQR)

7.375

In [18]:
Q2 = df['mpg'].quantile(.50)
print(Q2)
print(df['mpg'].median())

19.2
19.2

In [19]:
# 범위(Range) = 최대값 - 최소값
mpg_max = df['mpg'].max()
print(mpg_max)

33.9

In [20]:
mpg_min = df['mpg'].min()
print(mpg_min)

10.4

In [21]:
mpg_range = mpg_max - mpg_min
print(mpg_range)

23.5

## 3) 분포의 비대칭도

In [22]:
# 왜도
mpg_skew = df['mpg'].skew()
print(mpg_skew)

0.6723771376290805

In [23]:
# 첨도
mpg_kurt = df['mpg'].kurt()
print(mpg_kurt)

-0.0220062914240855

## 4) 기타(합계, 절대값, 데이터 수 등)

In [24]:
# 합계
mpg_sum = df['mpg'].sum()
print(mpg_sum)

642.9000000000001

In [25]:
# 절대값
IQR2 = Q1 - Q3
print(IQR2)
print(abs(IQR2))

-7.375
7.375

In [26]:
# 데이터 수 
len(df['mpg'])

32

## 5) 그룹화하여 계산하기 (groupby 활용)

In [28]:
# species별로 각 변수의 평균 구해보기
import seaborn as sns
df = sns.load_dataset('iris')
print(df.head())
df.groupby('species').mean()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [29]:
df.groupby('species').median()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0