In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("mtcars.csv")
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
#데이터 타입 확인
df.dtypes

Unnamed: 0     object
mpg           float64
cyl             int64
disp          float64
hp              int64
drat          float64
wt            float64
qsec          float64
vs              int64
am              int64
gear            int64
carb            int64
dtype: object

In [5]:
#데이터 타입 변경
df1 = df.copy()
df1 = df1.astype({'cyl':'object'})
print(df1.dtypes)

Unnamed: 0     object
mpg           float64
cyl            object
disp          float64
hp              int64
drat          float64
wt            float64
qsec          float64
vs              int64
am              int64
gear            int64
carb            int64
dtype: object

In [7]:
df1['cyl']

0     6
1     6
2     4
3     6
4     8
5     6
6     8
7     4
8     4
9     6
10    6
11    8
12    8
13    8
14    8
15    8
16    8
17    4
18    4
19    4
20    4
21    8
22    8
23    8
24    8
25    4
26    4
27    4
28    8
29    6
30    8
31    4
Name: cyl, dtype: object

In [6]:
df1['cyl'].value_counts()

8    14
4    11
6     7
Name: cyl, dtype: int64

In [8]:
df = pd.read_csv("mtcars.csv")
df.head()

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [9]:
df.shape

(32, 12)

In [10]:
mpg_mean = df['mpg'].mean()

In [11]:
print(mpg_mean)

20.090624999999996

In [12]:
mpg_median = df['mpg'].median()
print(mpg_median)

19.2

In [13]:
mpg_mode = df['cyl'].mode()
print(mpg_mode)

0    8
dtype: int64

In [14]:
print(mpg_mode[0])

8

In [16]:
df['cyl'].value_counts()

8    14
4    11
6     7
Name: cyl, dtype: int64

In [17]:
mpg_var = df['mpg'].var()
print(mpg_var)

36.32410282258065