In [1]:
import pandas as pd
df = pd.DataFrame({'A': ['블루베리 스무디', '딸기 스무디', '딸기 바나나 스무디'],
                   'B': [10, 20, 30],
                   'C': ['추천/신메뉴', '신메뉴/할인', '사이즈업/추천'],
                   'D': ['ab cd', 'AB CD', 'ab cd']
                   })
df

            A   B        C      D
0    블루베리 스무디  10   추천/신메뉴  ab cd
1      딸기 스무디  20   신메뉴/할인  AB CD
2  딸기 바나나 스무디  30  사이즈업/추천  ab cd

In [2]:
# replaca, 전체 문자가 일치해야 변경
df['A'] = df['A'].replace('스무디','에이드')
df

            A   B        C      D
0    블루베리 스무디  10   추천/신메뉴  ab cd
1      딸기 스무디  20   신메뉴/할인  AB CD
2  딸기 바나나 스무디  30  사이즈업/추천  ab cd

In [3]:
# str.replace, 일부 일치하는 문자 변경  데이터프레임에서는 사용불가, Series에서 사용가능
df['A'] = df['A'].str.replace('스무디','에이드')
df

            A   B        C      D
0    블루베리 에이드  10   추천/신메뉴  ab cd
1      딸기 에이드  20   신메뉴/할인  AB CD
2  딸기 바나나 에이드  30  사이즈업/추천  ab cd

In [6]:
# replace 데이터 프레임
df.replace('블루베리 에이드', '청포도 에이드')

            A   B        C      D
0     청포도 에이드  10   추천/신메뉴  ab cd
1      딸기 에이드  20   신메뉴/할인  AB CD
2  딸기 바나나 에이드  30  사이즈업/추천  ab cd

In [7]:
# 숫자 변경
df['B'] = df['B'].replace(10, 100)
df

            A    B        C      D
0    블루베리 에이드  100   추천/신메뉴  ab cd
1      딸기 에이드   20   신메뉴/할인  AB CD
2  딸기 바나나 에이드   30  사이즈업/추천  ab cd

In [9]:
# 숫자 변경(str.replace)
# df['B'] = df['B'].str.replace(10, 100)
# df

In [10]:
# 어절 나누기
df['A'].str.split()

0       [블루베리, 에이드]
1         [딸기, 에이드]
2    [딸기, 바나나, 에이드]
Name: A, dtype: object