# 2. 독립성 검점

[문제] 빅데이터 분석기사 실기 언어 선택에 따라 합격 여부를 조사한 결과이다. 언어와 합격 여부는 독립적인가? 가설검정을 실시하시오. (유의수준 0.05)
-	귀무가설(H0): 언어와 합격 여부는 독립이다.
-	대립가설(H1): 언어과 합격 여부는 독립이지 않다.

## 2-1 교차표 데이터

- R: 합격 80명, 불합격 20명,
- Python: 합격 90명, 불합격 10명

In [4]:
import pandas as pd
df = pd.DataFrame({
    '합격' : [80,90],
    '불합격' : [20,10]
   
}, index=['R','P'])

In [5]:
from scipy import stats
stats.chi2_contingency(df)

(3.1764705882352944,
 0.07470593331213068,
 1,
 array([[85., 15.],
        [85., 15.]]))

In [7]:
import pandas as pd
df = pd.DataFrame({
    'R' : [80,20],
    'P' : [90,10]
   
}, index=['합격','불합격'])
df

      R   P
합격   80  90
불합격  20  10

In [8]:
stats.chi2_contingency(df)

(3.1764705882352944,
 0.07470593331213068,
 1,
 array([[85., 85.],
        [15., 15.]]))

In [10]:
df = [[80,20],[90,10]]

In [11]:
stats.chi2_contingency(df)

(3.1764705882352944,
 0.07470593331213068,
 1,
 array([[85., 15.],
        [85., 15.]]))

## 2-2 로우 데이터

In [12]:
# 데이터 생성
import pandas as pd
data = {
    '언어': ['R']*100 + ['Python']*100,
    '합격여부': ['합격']*80 + ['불합격']*20 + ['합격']*90 + ['불합격']*10
}
df = pd.DataFrame(data)

In [13]:
df.sample(1)

   언어 합격여부
91  R  불합격

In [14]:
pd.crosstab(df['언어'],df['합격여부'])

합격여부    불합격  합격
언어
Python   10  90
R        20  80