In [31]:
# 학습 전 실행: csv파일 (data.csv) 생성
import pandas as pd
import numpy as np
data = {
    "메뉴":['아메리카노','카페라떼','카페모카', '바닐라라떼', '녹차', '초코라떼', '바닐라콜드브루'],
    "가격":[4100, 4600, 4600, 5100, 4100, 5000, 5100],
    "할인율":[0.5, 0.1, 0.2, 0.3, 0, 0, 0],
    "칼로리":[10, 180, 420, 320, 20, 500, 400],
    "원두":['콜롬비아', np.NaN, '과테말라', np.NaN, '한국', '콜롬비아', np.NaN],
    "이벤트가":[1900, 2300, np.NaN, 2600, np.NaN, 3000, 3200],
}
data = pd.DataFrame(data)
data.to_csv('data.csv', index=False)

In [32]:
# 데이터 불러오기
df = pd.read_csv("data.csv")
df

        메뉴    가격  할인율  칼로리    원두    이벤트가
0    아메리카노  4100  0.5   10  콜롬비아  1900.0
1     카페라떼  4600  0.1  180   NaN  2300.0
2     카페모카  4600  0.2  420  과테말라     NaN
3    바닐라라떼  5100  0.3  320   NaN  2600.0
4       녹차  4100  0.0   20    한국     NaN
5     초코라떼  5000  0.0  500  콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400   NaN  3200.0

# 조건 필터

In [4]:
# 1개 조건
# 할인율 > 0.2
cond = df['할인율'] > 0.2
df[cond]
#df[df['할인율'] > 0.2]

      메뉴    가격  할인율  칼로리    원두    이벤트가
0  아메리카노  4100  0.5   10  콜롬비아  1900.0
3  바닐라라떼  5100  0.3  320   NaN  2600.0

In [5]:
# 2개 이상일 때 (AND)

cond1 = df['할인율'] >= 0.2
cond2 = df['칼로리'] < 400
df[cond1 & cond2]

      메뉴    가격  할인율  칼로리    원두    이벤트가
0  아메리카노  4100  0.5   10  콜롬비아  1900.0
3  바닐라라떼  5100  0.3  320   NaN  2600.0

In [11]:
# 2개 이상일 때 (OR)

cond1 = df['할인율'] >= 0.2
cond2 = df['칼로리'] < 400
df[cond1 | cond2]

      메뉴    가격  할인율  칼로리    원두    이벤트가
0  아메리카노  4100  0.5   10  콜롬비아  1900.0
1   카페라떼  4600  0.1  180  콜롬비아  2300.0
2   카페모카  4600  0.2  420  콜롬비아     NaN
3  바닐라라떼  5100  0.3  320  콜롬비아  2600.0
4     녹차  4100  0.0   20  콜롬비아     NaN

In [14]:
# 문자열 1개 조건
cond = df['원두'] == "콜롬비아"
df[cond]

        메뉴    가격  할인율  칼로리    원두    이벤트가
0    아메리카노  4100  0.5   10  콜롬비아  1900.0
1     카페라떼  4600  0.1  180  콜롬비아  2300.0
2     카페모카  4600  0.2  420  콜롬비아     NaN
3    바닐라라떼  5100  0.3  320  콜롬비아  2600.0
4       녹차  4100  0.0   20  콜롬비아     NaN
5     초코라떼  5000  0.0  500  콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400  콜롬비아  3200.0

In [13]:
# 문자열과 숫자 조건

cond1 = df['원두'] == "콜롬비아"
cond2 = df['가격'] < 4500
df[cond1 & cond2]

      메뉴    가격  할인율  칼로리    원두    이벤트가
0  아메리카노  4100  0.5   10  콜롬비아  1900.0
4     녹차  4100  0.0   20  콜롬비아     NaN

In [21]:
# 컬럼별 결측치 확인
df.isnull().sum()

메뉴      0
가격      0
할인율     0
칼로리     0
원두      3
이벤트가    2
dtype: int64

In [34]:
# 결측값 채우기
df['원두'] = df['원두'].fillna('코스타리카')

In [35]:
df

        메뉴    가격  할인율  칼로리     원두    이벤트가
0    아메리카노  4100  0.5   10   콜롬비아  1900.0
1     카페라떼  4600  0.1  180  코스타리카  2300.0
2     카페모카  4600  0.2  420   과테말라     NaN
3    바닐라라떼  5100  0.3  320  코스타리카  2600.0
4       녹차  4100  0.0   20     한국     NaN
5     초코라떼  5000  0.0  500   콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400  코스타리카  3200.0

In [36]:
df['이벤트가'] = df['이벤트가'].fillna(1900)
df

        메뉴    가격  할인율  칼로리     원두    이벤트가
0    아메리카노  4100  0.5   10   콜롬비아  1900.0
1     카페라떼  4600  0.1  180  코스타리카  2300.0
2     카페모카  4600  0.2  420   과테말라  1900.0
3    바닐라라떼  5100  0.3  320  코스타리카  2600.0
4       녹차  4100  0.0   20     한국  1900.0
5     초코라떼  5000  0.0  500   콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400  코스타리카  3200.0

# 값 변경

In [37]:
df.head()

      메뉴    가격  할인율  칼로리     원두    이벤트가
0  아메리카노  4100  0.5   10   콜롬비아  1900.0
1   카페라떼  4600  0.1  180  코스타리카  2300.0
2   카페모카  4600  0.2  420   과테말라  1900.0
3  바닐라라떼  5100  0.3  320  코스타리카  2600.0
4     녹차  4100  0.0   20     한국  1900.0

In [40]:
# 문자 변경
df.replace("아메리카노", "룽고").replace("녹차","그린티")

        메뉴    가격  할인율  칼로리     원두    이벤트가
0       룽고  4100  0.5   10   콜롬비아  1900.0
1     카페라떼  4600  0.1  180  코스타리카  2300.0
2     카페모카  4600  0.2  420   과테말라  1900.0
3    바닐라라떼  5100  0.3  320  코스타리카  2600.0
4      그린티  4100  0.0   20     한국  1900.0
5     초코라떼  5000  0.0  500   콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400  코스타리카  3200.0

In [43]:
d = {"아메리카노":"룽고", "녹차":"그린티"}
df = df.replace(d)

In [44]:
df

        메뉴    가격  할인율  칼로리     원두    이벤트가
0       룽고  4100  0.5   10   콜롬비아  1900.0
1     카페라떼  4600  0.1  180  코스타리카  2300.0
2     카페모카  4600  0.2  420   과테말라  1900.0
3    바닐라라떼  5100  0.3  320  코스타리카  2600.0
4      그린티  4100  0.0   20     한국  1900.0
5     초코라떼  5000  0.0  500   콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400  코스타리카  3200.0

In [46]:
# 숫자 변경
df = df.replace(1900, 1500)
df

        메뉴    가격  할인율  칼로리     원두    이벤트가
0       룽고  4100  0.5   10   콜롬비아  1500.0
1     카페라떼  4600  0.1  180  코스타리카  2300.0
2     카페모카  4600  0.2  420   과테말라  1500.0
3    바닐라라떼  5100  0.3  320  코스타리카  2600.0
4      그린티  4100  0.0   20     한국  1500.0
5     초코라떼  5000  0.0  500   콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400  코스타리카  3200.0

In [47]:
# loc로 값 변경하기
df.loc[3,"원두"] = '과테말라'
df

        메뉴    가격  할인율  칼로리     원두    이벤트가
0       룽고  4100  0.5   10   콜롬비아  1500.0
1     카페라떼  4600  0.1  180  코스타리카  2300.0
2     카페모카  4600  0.2  420   과테말라  1500.0
3    바닐라라떼  5100  0.3  320   과테말라  2600.0
4      그린티  4100  0.0   20     한국  1500.0
5     초코라떼  5000  0.0  500   콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400  코스타리카  3200.0

In [48]:
# 이벤트가 전체 1000으로 변경
df.loc[:,'이벤트가'] = 1000
df

        메뉴    가격  할인율  칼로리     원두  이벤트가
0       룽고  4100  0.5   10   콜롬비아  1000
1     카페라떼  4600  0.1  180  코스타리카  1000
2     카페모카  4600  0.2  420   과테말라  1000
3    바닐라라떼  5100  0.3  320   과테말라  1000
4      그린티  4100  0.0   20     한국  1000
5     초코라떼  5000  0.0  500   콜롬비아  1000
6  바닐라콜드브루  5100  0.0  400  코스타리카  1000

# 내장함수

In [50]:
# 데이터 불러오기
df = pd.read_csv('data.csv')
df

        메뉴    가격  할인율  칼로리    원두    이벤트가
0    아메리카노  4100  0.5   10  콜롬비아  1900.0
1     카페라떼  4600  0.1  180   NaN  2300.0
2     카페모카  4600  0.2  420  과테말라     NaN
3    바닐라라떼  5100  0.3  320   NaN  2600.0
4       녹차  4100  0.0   20    한국     NaN
5     초코라떼  5000  0.0  500  콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400   NaN  3200.0

In [51]:
df.count()

메뉴      7
가격      7
할인율     7
칼로리     7
원두      4
이벤트가    5
dtype: int64

In [52]:
df.count(axis = 1)

0    6
1    5
2    5
3    5
4    5
5    6
6    5
dtype: int64

In [53]:
len(df)

7

In [55]:
df.shape # (데이터수, 컬럼수)
df.shape[0]

7

In [56]:
#최대값
df['가격'].max()

5100

In [57]:
#최소값
df['가격'].min()

4100

In [58]:
#평균
df['가격'].mean()

4657.142857142857

In [59]:
#중앙값
df['가격'].median()

4600.0

In [60]:
#합계
df['가격'].sum()

32600

In [61]:
#표준편차
df['가격'].std()

435.3433237386437

In [62]:
#분산
df['가격'].var()

189523.8095238095

In [63]:
#왜도 skewness
df['가격'].skew()

-0.3739900475641664

In [64]:
#첨도 kurtosis
df['가격'].kurt()

-1.7170778515694067

In [65]:
#백분위수
df['가격'].describe()

count       7.000000
mean     4657.142857
std       435.343324
min      4100.000000
25%      4350.000000
50%      4600.000000
75%      5050.000000
max      5100.000000
Name: 가격, dtype: float64

In [66]:
# 하위 25% 값
df['가격'].quantile(.25)

4350.0

In [67]:
# 상위 25% 값
df['가격'].quantile(.75)

5050.0

In [68]:
# 하위 25% 데이터
cond = df['가격'].quantile(.25) > df['가격']
df[cond]

      메뉴    가격  할인율  칼로리    원두    이벤트가
0  아메리카노  4100  0.5   10  콜롬비아  1900.0
4     녹차  4100  0.0   20    한국     NaN

In [69]:
# 상위 25% 데이터
cond = df['가격'].quantile(.75) > df['가격']
df[cond]

      메뉴    가격  할인율  칼로리    원두    이벤트가
0  아메리카노  4100  0.5   10  콜롬비아  1900.0
1   카페라떼  4600  0.1  180   NaN  2300.0
2   카페모카  4600  0.2  420  과테말라     NaN
4     녹차  4100  0.0   20    한국     NaN
5   초코라떼  5000  0.0  500  콜롬비아  3000.0

In [72]:
# 최빈값 구하기
df['원두'].mode()[0]

'콜롬비아'

## 심화학습 apply함수

In [73]:
df

        메뉴    가격  할인율  칼로리    원두    이벤트가
0    아메리카노  4100  0.5   10  콜롬비아  1900.0
1     카페라떼  4600  0.1  180   NaN  2300.0
2     카페모카  4600  0.2  420  과테말라     NaN
3    바닐라라떼  5100  0.3  320   NaN  2600.0
4       녹차  4100  0.0   20    한국     NaN
5     초코라떼  5000  0.0  500  콜롬비아  3000.0
6  바닐라콜드브루  5100  0.0  400   NaN  3200.0

In [74]:
# apply 예시
def cal(x):
    if x >= 300:
        return "No"
    else:
        return "Yes"

df['칼로리'].apply(cal)

0    Yes
1    Yes
2     No
3     No
4    Yes
5     No
6     No
Name: 칼로리, dtype: object

In [75]:
# apply 적용해서 새로운 컬럼 생성 (칼로리 컬럼 활용)
df['먹어도될까요'] = df['칼로리'].apply(cal)
df

        메뉴    가격  할인율  칼로리    원두    이벤트가 먹어도될까요
0    아메리카노  4100  0.5   10  콜롬비아  1900.0    Yes
1     카페라떼  4600  0.1  180   NaN  2300.0    Yes
2     카페모카  4600  0.2  420  과테말라     NaN     No
3    바닐라라떼  5100  0.3  320   NaN  2600.0     No
4       녹차  4100  0.0   20    한국     NaN    Yes
5     초코라떼  5000  0.0  500  콜롬비아  3000.0     No
6  바닐라콜드브루  5100  0.0  400   NaN  3200.0     No