# 문제 7
- index '2001' 데이터(행)의 평균보다 큰 값의 수와
- index '2003' 데이터(행)의 평균보다 작은 값의 수를 더하시오

In [2]:
# 데이터 생성
import pandas as pd
import random
df = pd.DataFrame()
for i in range(0,5):
    list_box = []
    for k in range(0,200):
        ran_num = random.randint(1,200)
        list_box.append(ran_num)
    df[i+2000] = list_box
df = df.T
df.to_csv("data.csv", index = True)

In [5]:
df = pd.read_csv("data.csv", index_col="Unnamed: 0")
df.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
2000,87,46,62,178,16,36,39,181,52,154,...,106,106,41,46,93,129,75,67,119,103
2001,87,144,38,142,47,143,162,162,125,108,...,79,50,67,140,182,12,28,127,35,17
2002,177,7,181,77,167,136,197,191,199,194,...,38,94,77,65,84,162,170,31,90,61
2003,27,171,200,30,194,47,130,52,136,65,...,194,137,81,179,96,177,178,38,52,108
2004,15,116,82,191,43,95,101,164,114,176,...,65,63,188,4,18,144,139,82,159,44

In [19]:
m2001 = df.loc[2001].mean()
# print(m2001)
cond = df.loc[2001] > m2001
r1 = sum(cond)

m2003 = df.loc[2003].mean()
# print(m2001)
cond2 = df.loc[2003] < m2001
r2 = sum(cond2)

print(r1 + r2)

193

# 문제 8
- 결측 값을 가진 데이터는 바로 뒤에 있는 값으로 대체한 후 (바로 뒤가 결측값이라면 뒤에있는 데이터 중 가장 가까운 값)
- city와 f2 컬럼 기준으로 그룹합을 계산한 뒤 
- views가 세번째로 큰 city(도시) 이름은?

In [33]:
import pandas as pd
df = pd.read_csv("members.csv")
#df.isnull().sum()

#display(df.head())
df = df.fillna(method='bfill')
#display(df.head())

df = df.groupby(['city','f2']).sum().reset_index()

df = df.sort_values('views',ascending=False)

print(df.iloc[2,0])

대구

# 문제 9
- 구독(subscribed) 월별로 데이터 개수를 구한 뒤
- 가장 작은 구독 수가 있는 월을 구하시오

In [43]:
import pandas as pd
df = pd.read_csv("members.csv")

df['subscribed'] = pd.to_datetime(df['subscribed'])
df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month
df['day'] = df['subscribed'].dt.day

df = df.groupby('month').count()
df.sort_values('subscribed', ascending=True).index[0]

11