# 작업형1 모의문제2

# 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오(age, f1, f2, f5, views의 각 행별 합)

In [3]:
import pandas as pd
df = pd.read_csv("members.csv")

print(df.info())
series = [
    'age','f1','f2','f5','views'
]
df = df[series]
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    object
 1   age         100 non-null    float64
 2   city        100 non-null    object
 3   f1          69 non-null     float64
 4   f2          100 non-null    int64
 5   f3          72 non-null     object
 6   f4          100 non-null    object
 7   f5          100 non-null    float64
 8   subscribed  100 non-null    object
 9   views       96 non-null     float64
dtypes: float64(4), int64(1), object(5)
memory usage: 7.9+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     100 non-null    float64
 1   f1      69 non-null     float64
 2   f2      100 non-null    int64
 3   f5      100 non-null    float64
 4   views   96 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 4.0 KB
None

In [13]:
import pandas as pd
df = pd.read_csv("members.csv")
# cols = df.select_dtypes(include='object').columns
# cols
# df.drop(cols,axis=1)
# df.head()

cols = df.select_dtypes(exclude='object').columns
df = df[cols]

df = df.fillna(0)

df.head()

df = df.T
print(df.head())

print(sum(df.sum() > 3000))

                0            1            2           3            4   \
age       2.000000     9.000000    27.000000   75.000000    24.000000
f1        0.000000    70.000000    61.000000    0.000000    85.000000
f2        0.000000     1.000000     1.000000    2.000000     2.000000
f5       91.297791    60.339826    17.252986   52.667078    29.269869
views  6820.000000  2534.000000  7312.000000  493.000000  1338.000000

                 5          6           7            8            9   ...  \
age       22.000000  36.300000    38.00000     3.300000    95.000000  ...
f1        57.000000  60.000000   101.00000    35.000000    74.000000  ...
f2         0.000000   1.000000     1.00000     2.000000     1.000000  ...
f5        20.129444   9.796378    83.68538    17.252986    98.429899  ...
views  21550.000000  61.000000  3260.00000  2764.000000  9992.000000  ...

                90           91           92         93           94  \
age      54.000000     6.000000    97.000000  21.800000    84.000000
f1        0.000000    72.000000    78.000000  57.000000     0.000000
f2        0.000000     0.000000     1.000000   0.000000     1.000000
f5       29.269869     9.796378    97.381034  73.586397    90.496999
views  3818.000000  8988.000000  9625.000000  42.000000  3774.000000

                95           96           97          98           99
age      77.000000    92.000000   100.000000   39.000000     1.000000
f1       43.000000    53.000000     0.000000   58.000000    47.000000
f2        1.000000     1.000000     0.000000    2.000000     0.000000
f5       91.297791    52.667078    67.886373   98.429899    97.381034
views  8697.000000  4336.000000  6687.000000  865.000000  6090.000000

[5 rows x 100 columns]
73

# 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오.

In [19]:
import pandas as pd
df = pd.read_csv("members.csv")

q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)

IQR = q3 - q1
#print(IQR)

line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR

print(sum(df['views'] < line1) + sum(df['views'] > line2))

4

# 문제 6
- 'age'컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오(최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [7]:
import pandas as pd
df = pd.read_csv("members.csv")

r1 = df['views'].std()

cond = df['age'] <= 0
#print(df.shape)
df = df[~cond]
#print(df.shape)

cond = df['age'] == round(df['age'],0)
#print(df.shape)
df = df[cond]
#print(df.shape)
r2 = df['views'].std()

print(round(r1+r2,2))

8420.69