In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'Name' : ['합격핑','만점핑','열심핑','도전핑','재수핑'],
    'Age' : [24, 27, 22, 32, 29],
    'Score' : [85, 90, 78, np.nan, 95],
})
df

  Name  Age  Score
0  합격핑   24   85.0
1  만점핑   27   90.0
2  열심핑   22   78.0
3  도전핑   32    NaN
4  재수핑   29   95.0

In [2]:
cond = df['Age'] > 25
cond

0    False
1     True
2    False
3     True
4     True
Name: Age, dtype: bool

In [3]:
print("sum :" , sum(cond))
print("len :" , len(cond))

sum : 3
len : 5

In [4]:
len(df[cond])

3

In [5]:
df[cond].count()

Name     3
Age      3
Score    2
dtype: int64