# 작업형1 모의문제2
- data : members.csv

## 문제4
- 주어진 데이터에서 자료형(type)이 object인 컬럼은 삭제하고, 결측치는 0으로 대체한다.
- 행 단위로 합한 다음 그 값이 3000보다 큰 값의 데이터 수를 구하시오
('age', 'f1', 'f2', 'f5', 'views'의 각 행별 합)

In [22]:
import pandas as pd

df = pd.read_csv('members.csv')
#df.info()
# object인 컬럼 삭제 
df = df.drop(['id','city','f3','f4','subscribed'], axis=1)

# 결측치를 0으로 대체
#print(df.isnull().sum())
df = df.fillna(0)
#print(df.isnull().sum())

# 행 단위로 합
tdf = df.T
result = tdf.sum()

# 3000보다 큰 값의 데이터 수
cond = result > 3000
print(cond.sum())

73

## 문제5
- 데이터에서 IQR을 활용해 views 컬럼의 이상치를 찾고, 이상치 데이터의 수를 구하시오

In [49]:
import pandas as pd

df = pd.read_csv('members.csv')
q1 = df['views'].quantile(.25)
q3 = df['views'].quantile(.75)
IQR = q3 - q1
line1 = q1 - 1.5 * IQR
line2 = q3 + 1.5 * IQR

print(sum(df['views'] < line1)+ sum(df['views'] > line2))

4

## 문제6
- 'age' 컬럼의 이상치(소수점 나이와 음수나이, 0포함)를 제거하고
- 제거 전 후의 views 컬럼 표준편차를 더하시오 (최종 결과 값은 소수 둘째자리까지 출력, 셋째자리에서 반올림)

In [62]:
import pandas as pd

df = pd.read_csv('members.csv')

r1 = df['views'].std()
cond1 = df['age'] <= 0
df[~cond1]

cond2 = df['age'] == round(df['age'],0)
df[cond2]

r2 = df['views'].std()

print(round(r1 + r2,))

4170.860768106485