In [1]:
# 데이터 생성(실습 전 실행)
import pandas as pd
data = {
    'Date1': ['2024-02-17', '2024-02-18', '2024-02-19'],
    'Date2': ['2024:02:17', '2024:02:18', '2024:02:19'],
    'Date3': ['24/02/17', '24/02/18', '24/02/19'],
    'Date4': ['02/17/2024', '02/18/2024', '02/19/2024'],
    'Date5': ['17-Feb-2024', '18-Feb-2024', '19-Feb-2024'],
    'Date6': ['2024년02월17일', '2024년02월18일', '2024년02월19일'],
    'DateTime1': ['24-02-17 11:45:30', '24-02-18 12:55:45', '24-02-19 13:30:15'],
    'DateTime2': ['2024-02-17 11-45-30', '2024-02-18 12-55-45', '2024-02-19 13-30-15'],
    'DateTime3': ['02/17/2024 11:45:30 AM', '02/18/2024 12:55:45 PM', '02/19/2024 01:30:15 PM'],
    'DateTime4': ['17 Feb 2024 11:45:30', '18 Feb 2024 12:55:45', '19 Feb 2024 13:30:15']
}

df = pd.DataFrame(data)
df.to_csv("date.csv", index=False)
df

,Date1,Date2,Date3,Date4,Date5,Date6,DateTime1,DateTime2,DateTime3,DateTime4
0,2024-02-17,2024:02:17,24/02/17,02/17/2024,17-Feb-2024,2024년02월17일,24-02-17 11:45:30,2024-02-17 11-45-30,02/17/2024 11:45:30 AM,17 Feb 2024 11:45:30
1,2024-02-18,2024:02:18,24/02/18,02/18/2024,18-Feb-2024,2024년02월18일,24-02-18 12:55:45,2024-02-18 12-55-45,02/18/2024 12:55:45 PM,18 Feb 2024 12:55:45
2,2024-02-19,2024:02:19,24/02/19,02/19/2024,19-Feb-2024,2024년02월19일,24-02-19 13:30:15,2024-02-19 13-30-15,02/19/2024 01:30:15 PM,19 Feb 2024 13:30:15

In [2]:
# 데이터 불러오기 (usecols, parse_dates)
df = pd.read_csv("date.csv", usecols=['DateTime4'], parse_dates=['DateTime4'])
df

            DateTime4
0 2024-02-17 11:45:30
1 2024-02-18 12:55:45
2 2024-02-19 13:30:15

In [3]:
# 100일째 되는 날
day = pd.Timedelta(days=99)
df['100일'] = df['DateTime4'] + day
df

            DateTime4                100일
0 2024-02-17 11:45:30 2024-05-26 11:45:30
1 2024-02-18 12:55:45 2024-05-27 12:55:45
2 2024-02-19 13:30:15 2024-05-28 13:30:15

In [4]:
# 100시간 이후 
hour = pd.Timedelta(hours=100)
df['100시간'] = df['DateTime4'] + hour
df

            DateTime4                100일               100시간
0 2024-02-17 11:45:30 2024-05-26 11:45:30 2024-02-21 15:45:30
1 2024-02-18 12:55:45 2024-05-27 12:55:45 2024-02-22 16:55:45
2 2024-02-19 13:30:15 2024-05-28 13:30:15 2024-02-23 17:30:15

In [5]:
# 시간 +/- (3주, 3일, 3시간, 3분, 3초 이전과 이후)
diff = pd.Timedelta(weeks=3, days=3, hours=3, minutes=3, seconds=3)
df['+diff'] = df['DateTime4'] + diff
df['-diff'] = df['DateTime4'] - diff
df

,DateTime4,100일,100시간,+diff,-diff
0,2024-02-17 11:45:30,2024-05-26 11:45:30,2024-02-21 15:45:30,2024-03-12 14:48:33,2024-01-24 08:42:27
1,2024-02-18 12:55:45,2024-05-27 12:55:45,2024-02-22 16:55:45,2024-03-13 15:58:48,2024-01-25 09:52:42
2,2024-02-19 13:30:15,2024-05-28 13:30:15,2024-02-23 17:30:15,2024-03-14 16:33:18,2024-01-26 10:27:12

In [6]:
# timedelta 자료형(datetime간의 연산 결과)
diff = df['100일'] - df['100시간']
diff

0   94 days 20:00:00
1   94 days 20:00:00
2   94 days 20:00:00
dtype: timedelta64[ns]

In [7]:
# 기간을 초로 변환 total_seconds()
print(diff.dt.total_seconds())
print(diff.dt.total_seconds()/60)
print(diff.dt.total_seconds()/60/60)
print(diff.dt.total_seconds()/60/60/24)

0    8193600.0
1    8193600.0
2    8193600.0
dtype: float64
0    136560.0
1    136560.0
2    136560.0
dtype: float64
0    2276.0
1    2276.0
2    2276.0
dtype: float64
0    94.833333
1    94.833333
2    94.833333
dtype: float64

In [8]:
# 일(days), 초(seconds)
print(diff.dt.days)
print(diff.dt.seconds)
print(20*60*60)

0    94
1    94
2    94
dtype: int64
0    72000
1    72000
2    72000
dtype: int64
72000

In [9]:
# 반올림 (ex: 5.49분) 30초 이상이면 올림, 30초 미만이면 버림
value = 5.49
round(value)

5