# 작업형1 모의문제1
- data : members.csv
- 한 개의 셀만 사용해서 문제를 풀어주세요

## 문제1
- f1컬럼의 결측치는 중앙 값으로 대체하고
- 나머지 결측치가 있는 데이터(행)을 모두 제거하고,
- 앞에서부터 70% 데이터 중 views 컬럼의 3사분위 수에서 1사분위 수를 뺀 값을 구하시오
- (단, 데이터 70% 지점은 정수형(int) 변환)

In [1]:
import pandas as pd
df = pd.read_csv('members.csv')
df.head()

     id   age city    f1  f2    f3    f4         f5  subscribed   views
0  id01   2.0   서울   NaN   0  gold  ENFJ  91.297791  2021-07-16  6820.0
1  id02   9.0   서울  70.0   1   NaN  ENFJ  60.339826  2021-05-12  2534.0
2  id03  27.0   서울  61.0   1  gold  ISTJ  17.252986  2021-03-16  7312.0
3  id04  75.0   서울   NaN   2   NaN  INFP  52.667078  2021-07-21   493.0
4  id05  24.0   서울  85.0   2   NaN  ISFJ  29.269869  2021-03-07  1338.0

In [2]:
df.isnull().sum()

id             0
age            0
city           0
f1            31
f2             0
f3            28
f4             0
f5             0
subscribed     0
views          4
dtype: int64

In [ ]:
df['f1'].