## 작업형1 문제
1-1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력

In [4]:
import pandas as pd
df = pd.read_csv('4회 작업형1/basic1.csv')

In [7]:
m = df['age'].quantile(.75)
s = df['age'].quantile(.25)
print(int(abs(m-s)))

50

1-2.(loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, type 컬럼이 'video'인 데이터의 갯수

In [8]:
import pandas as pd
df = pd.read_csv('4회 작업형1/fb.csv')
df

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys
0,1,video,529,512,262,432,92,3,1,1,0
1,2,photo,150,0,0,150,0,0,0,0,0
2,3,video,227,236,57,204,21,1,1,0,0
3,4,photo,111,0,0,111,0,0,0,0,0
4,5,photo,213,0,0,204,9,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
7045,7046,photo,89,0,0,89,0,0,0,0,0
7046,7047,photo,16,0,0,14,1,0,1,0,0
7047,7048,photo,2,0,0,1,1,0,0,0,0
7048,7049,photo,351,12,22,349,2,0,0,0,0
7049,7050,photo,17,0,0,17,0,0,0,0,0

In [14]:
r = (df['loves']+df['wows']) / df['reactions']
r

0       0.179584
1       0.000000
2       0.096916
3       0.000000
4       0.042254
          ...
7045    0.000000
7046    0.062500
7047    0.500000
7048    0.005698
7049    0.000000
Length: 7050, dtype: float64

In [17]:
cond1 = r > 0.4
cond2 = r < 0.5
cond3 = df['type'] == 'video'
print(len(df[cond1 & cond2 & cond3]))

90

1-3. date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수

In [29]:
import pandas as pd
df = pd.read_csv('4회 작업형1/nf.csv')
df['date_added'] = pd.to_datetime(df['date_added'])
cond1 = df['date_added'].dt.year == 2018
cond2 = df['date_added'].dt.month == 1
cond3 = df['country'] == 'United Kingdom'
print(len(df[cond1 & cond2 & cond3]))

6