# 신용카드서비스를 떠나는 고객을 찾아라
- 나이, 급여, 결혼 상태, 신용 카드 한도, 신용 카드 카테고리 등의 컬럼이 있음
- 평가: ROC-AUC, 정확도(Accuracy), F1, 정밀도(Precision), 재현율(Recall)을 구하시오
- target : Attrition_Flag (1:이탈, 0:유지)
- csv파일 생성 : 수험번호.csv (예시 아래 참조)

# 평가(분류)
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

# 정확도
print(accuracy_score(y_test, pred))

# 정밀도
print(precision_score(y_test, pred))

# 재현율 (민감도)
print(recall_score(y_test, pred))

# F1
print(f1_score(y_test , pred))

# roc-auc
print(roc_auc_score(y_test, pred_proba))

# 데이터 불러오기

In [1]:
import pandas as pd
train = pd.read_csv("creditcard/train.csv")
test = pd.read_csv("creditcard/test.csv")
print(train.shape, test.shape)

(8101, 21) (2026, 20)

In [2]:
train.head()

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,...,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Attrition_Flag
0,778461408,38,M,1,High School,Married,$80K - $120K,Blue,23,4,...,2,22149.0,987,21162.0,1.633,2409,36,0.800,0.045,0
1,718263108,44,F,3,Unknown,Divorced,Less than $40K,Blue,32,3,...,2,1693.0,1457,236.0,0.919,2829,42,0.615,0.861,1
2,780384483,49,M,4,Unknown,Unknown,$80K - $120K,Blue,39,2,...,2,2886.0,925,1961.0,0.946,5481,58,0.758,0.321,1
3,719592483,43,F,5,Graduate,Single,Unknown,Blue,34,6,...,3,4607.0,2440,2167.0,0.646,4825,77,0.878,0.530,0
4,771453033,47,M,3,High School,Married,$60K - $80K,Blue,35,5,...,2,17343.0,1280,16063.0,1.314,3170,57,0.629,0.074,0

In [3]:
test.head()

,CLIENTNUM,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,788544108,43,F,2,High School,Single,Less than $40K,Blue,37,4,3,0,6611.0,1041,5570.0,0.744,4037,74,0.682,0.157
1,719356008,39,F,3,Graduate,Single,Less than $40K,Blue,36,4,3,4,1438.3,0,1438.3,1.022,4548,69,0.917,0.000
2,712142733,37,F,3,Post-Graduate,Married,Less than $40K,Blue,26,5,3,2,1910.0,1164,746.0,0.744,2028,39,1.053,0.609
3,789394833,47,M,2,Unknown,Divorced,$80K - $120K,Blue,37,1,2,2,21714.0,1969,19745.0,0.944,13270,104,0.625,0.091
4,742778358,44,M,1,Graduate,Single,$60K - $80K,Blue,37,3,1,4,16739.0,1229,15510.0,0.497,4014,69,0.568,0.073

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8101 entries, 0 to 8100
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 8101 non-null   int64
 1   Customer_Age              8101 non-null   int64
 2   Gender                    8101 non-null   object
 3   Dependent_count           8101 non-null   int64
 4   Education_Level           8101 non-null   object
 5   Marital_Status            8101 non-null   object
 6   Income_Category           8101 non-null   object
 7   Card_Category             8101 non-null   object
 8   Months_on_book            8101 non-null   int64
 9   Total_Relationship_Count  8101 non-null   int64
 10  Months_Inactive_12_mon    8101 non-null   int64
 11  Contacts_Count_12_mon     8101 non-null   int64
 12  Credit_Limit              8101 non-null   float64
 13  Total_Revolving_Bal       8101 non-null   int64
 14  Avg_Open_To_Buy           8101 non-null   float64
 15  Total_Amt_Chng_Q4_Q1      8101 non-null   float64
 16  Total_Trans_Amt           8101 non-null   int64
 17  Total_Trans_Ct            8101 non-null   int64
 18  Total_Ct_Chng_Q4_Q1       8101 non-null   float64
 19  Avg_Utilization_Ratio     8101 non-null   float64
 20  Attrition_Flag            8101 non-null   int64
dtypes: float64(5), int64(11), object(5)
memory usage: 1.3+ MB

In [5]:
train['Attrition_Flag'].value_counts()

0    6815
1    1286
Name: Attrition_Flag, dtype: int64

In [6]:
train.isnull().sum()

CLIENTNUM                   0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
Attrition_Flag              0
dtype: int64

In [7]:
test.isnull().sum()

CLIENTNUM                   0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

# 데이터 전처리 & 피처엔지니어링

In [8]:
# baseline (object type 컬럼 삭제)

cols = train.select_dtypes(include=object).columns

print(train.shape, test.shape)
train = train.drop(cols,axis=1)
test = test.drop(cols,axis=1)
print(train.shape, test.shape)

# label

# one-hot

(8101, 21) (2026, 20)
(8101, 16) (2026, 15)

# 검증데이터 분리

# 모델 & 평가