### 범주형 변수

In [1]:
import pandas as pd
df = pd.DataFrame({
    '매출액': [300, 320, 250, 360, 315, 328, 310, 335, 326, 280,
            290, 300, 315, 328, 310, 335, 300, 400, 500, 600],
    '광고비': [70, 75, 30, 80, 72, 77, 70, 82, 70, 80,
            68, 90, 72, 77, 70, 82, 40, 20, 75, 80],
    '플랫폼': [15, 16, 14, 20, 19, 17, 16, 19, 15, 20,
            14, 5, 16, 17, 16, 14, 30, 40, 10, 50],
    '투자':[100, 0, 200, 0, 10, 0, 5, 0, 20, 0,
          0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    '유형':['B','B','C','A','B','B','B','B','B','B'
        ,'C','B','B','B','B','B','B','A','A','A']
    })
df.head(3)

   매출액  광고비  플랫폼   투자 유형
0  300   70   15  100  B
1  320   75   16    0  B
2  250   30   14  200  C

In [3]:
from statsmodels.formula.api import ols
model = ols('매출액 ~ 광고비 + 유형', data = df).fit()
print(model.summary())
# 범주형도 ols를 사용할 수 있음
# 그런데 A데이터가 보이지 않음 그 이유는?

                            OLS Regression Results
==============================================================================
Dep. Variable:                    매출액   R-squared:                       0.720
Model:                            OLS   Adj. R-squared:                  0.667
Method:                 Least Squares   F-statistic:                     13.70
Date:                Sun, 12 May 2024   Prob (F-statistic):           0.000110
Time:                        21:11:20   Log-Likelihood:                -102.67
No. Observations:                  20   AIC:                             213.3
Df Residuals:                      16   BIC:                             217.3
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    400.6463     47.477      8.439      0.000     300.000     501.292
유형[T.B]     -160.2695     26.756     -5.990      0.000    -216.991    -103.548
유형[T.C]     -180.1103     40.883     -4.406      0.000    -266.778     -93.443
광고비            1.0095      0.652      1.548      0.141      -0.373       2.392
==============================================================================
Omnibus:                        9.726   Durbin-Watson:                   1.496
Prob(Omnibus):                  0.008   Jarque-Bera (JB):               16.186
Skew:                          -0.147   Prob(JB):                     0.000306
Kurtosis:                       7.397   Cond. No.                         382.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [5]:
# 원핫인코딩
df2 = pd.get_dummies(df)
df2.head()
# 원핫인코딩을 하였을 경우 A데이터가 보인다

   매출액  광고비  플랫폼   투자  유형_A  유형_B  유형_C
0  300   70   15  100     0     1     0
1  320   75   16    0     0     1     0
2  250   30   14  200     0     0     1
3  360   80   20    0     1     0     0
4  315   72   19   10     0     1     0

In [6]:
# drop_first=True
# 다중공선성이라는 문제점을 해결하기 위해 첫번째 컬럼을 드랍한다
# 둘다 0인경우를 A로 본다
df = pd.get_dummies(df, drop_first=True)
df.head()

   매출액  광고비  플랫폼   투자  유형_B  유형_C
0  300   70   15  100     1     0
1  320   75   16    0     1     0
2  250   30   14  200     0     1
3  360   80   20    0     0     0
4  315   72   19   10     1     0

In [8]:
# 회귀 모델 학습 & summary (독립변수로 광고비와 유형만 활용)
from statsmodels.formula.api import ols
model = ols('매출액 ~ 광고비 + 유형_B + 유형_C',data = df).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    매출액   R-squared:                       0.720
Model:                            OLS   Adj. R-squared:                  0.667
Method:                 Least Squares   F-statistic:                     13.70
Date:                Sun, 12 May 2024   Prob (F-statistic):           0.000110
Time:                        21:15:47   Log-Likelihood:                -102.67
No. Observations:                  20   AIC:                             213.3
Df Residuals:                      16   BIC:                             217.3
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    400.6463     47.477      8.439      0.000     300.000     501.292
광고비            1.0095      0.652      1.548      0.141      -0.373       2.392
유형_B        -160.2695     26.756     -5.990      0.000    -216.991    -103.548
유형_C        -180.1103     40.883     -4.406      0.000    -266.778     -93.443
==============================================================================
Omnibus:                        9.726   Durbin-Watson:                   1.496
Prob(Omnibus):                  0.008   Jarque-Bera (JB):               16.186
Skew:                          -0.147   Prob(JB):                     0.000306
Kurtosis:                       7.397   Cond. No.                         382.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.