# 이원 분산 분석 
가정에서 재배하고 있는 네 가지 토마토 종자(A, B, C, D)에 대해 세 가지 종류의 비료 (11, 12, 13)를 사용하여 재배된 토마토 수를 조사하였다. 종자 및 비료 종류 간의 토마토 수의 차이가 있는지 유의수준 0.05하에서 검정하시오.
(단, 정규성, 등분산성에 만족한 데이터)
- 종자 (주 효과)
    - 귀무가설(H0): 종자 간의 토마토 수에 차이가 없다.
    - 대립가설(H1): 적어도 하나의 종자에서 토마토 수에 차이가 있다.
- 비료 (주 효과)
    - 귀무가설(H0): 비료 종류 간의 토마토 수에 차이가 없다.
    - 대립가설(H1): 적어도 하나의 비료 종류에서 토마토 수에 차이가 있다.
- 상호작용 효과:
    - 귀무가설(H0): 종자와 비료 간의 상호작용은 토마토 수에 영향을 미치지 않는다.
    - 대립가설(H1): 종자와 비료 간의 상호작용은 토마토 수에 영향을 미친다.

# 1.기초

In [2]:
import pandas as pd
df = pd.read_csv('tomato.csv')
print(df.head(),df.shape)

  종자  비료  토마토수
0  A  11    54
1  A  11    48
2  A  11    56
3  A  11    65
4  A  11    47 (120, 3)

## 이원 분산 분석

In [4]:
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
model = ols('토마토수 ~ 종자 + 비료 + 종자:비료', data = df).fit()
anova_lm(model)

             df       sum_sq      mean_sq          F        PR(>F)
종자          3.0  4801.000000  1600.333333  18.297521  9.892196e-10
비료          1.0   877.812500   877.812500  10.036530  1.978360e-03
종자:비료       3.0   406.137500   135.379167   1.547867  2.061233e-01
Residual  112.0  9795.716667    87.461756        NaN           NaN

In [5]:
# 범주형 데이터 처리 
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
model = ols('토마토수 ~ C(종자) + C(비료) + C(종자):C(비료)', data = df).fit()
anova_lm(model)

                df       sum_sq      mean_sq          F        PR(>F)
C(종자)          3.0  4801.000000  1600.333333  18.757977  7.254117e-10
C(비료)          2.0  1140.316667   570.158333   6.682993  1.835039e-03
C(종자):C(비료)    6.0   725.350000   120.891667   1.417007  2.146636e-01
Residual     108.0  9214.000000    85.314815        NaN           NaN

In [8]:
# 일반표기법 format(지수표기법, '.10f')
print(format(7.254117e-10, '.10f'))
print(format(1.835039e-03, '.10f'))
print(format(2.146636e-01, '.10f'))

0.0000000007
0.0018350390
0.2146636000

In [10]:
# formula + 활용
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm
#model = ols('토마토수 ~ C(종자) + C(비료) + C(종자):C(비료)', data = df).fit()
model = ols('토마토수 ~ C(종자) * C(비료)', data = df).fit()
anova_lm(model)

                df       sum_sq      mean_sq          F        PR(>F)
C(종자)          3.0  4801.000000  1600.333333  18.757977  7.254117e-10
C(비료)          2.0  1140.316667   570.158333   6.682993  1.835039e-03
C(종자):C(비료)    6.0   725.350000   120.891667   1.417007  2.146636e-01
Residual     108.0  9214.000000    85.314815        NaN           NaN

# 2.심화

## 사후검정

In [11]:
# 이원 분산 분석 수행
model = ols('토마토수 ~ C(종자) + C(비료) + C(종자):C(비료)', data = df).fit()
anova_lm(model)

                df       sum_sq      mean_sq          F        PR(>F)
C(종자)          3.0  4801.000000  1600.333333  18.757977  7.254117e-10
C(비료)          2.0  1140.316667   570.158333   6.682993  1.835039e-03
C(종자):C(비료)    6.0   725.350000   120.891667   1.417007  2.146636e-01
Residual     108.0  9214.000000    85.314815        NaN           NaN

In [12]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd

# Tukey HSD
tukey_summary1 = pairwise_tukeyhsd(df['토마토수'], df['종자'], alpha=0.05)
tukey_summary2 = pairwise_tukeyhsd(df['토마토수'], df['비료'].astype(str), alpha=0.05)
print(tukey_summary1)
print(tukey_summary2)

Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
     A      B   5.7333 0.1107 -0.8448 12.3115  False
     A      C     12.1  0.001  5.5219 18.6781   True
     A      D     16.7  0.001 10.1219 23.2781   True
     B      C   6.3667 0.0617 -0.2115 12.9448  False
     B      D  10.9667  0.001  4.3885 17.5448   True
     C      D      4.6  0.268 -1.9781 11.1781  False
----------------------------------------------------
Multiple Comparison of Means - Tukey HSD, FWER=0.05
====================================================
group1 group2 meandiff p-adj   lower   upper  reject
----------------------------------------------------
    11     12    0.175    0.9 -5.7836  6.1336  False
    11     13    6.625 0.0254  0.6664 12.5836   True
    12     13     6.45 0.0305  0.4914 12.4086   True
----------------------------------------------------

In [18]:
# Bonferroni
from scipy import stats
from statsmodels.stats.multicomp import MultiComparison

mc = MultiComparison(df['토마토수'],df['종자'])
bon_result = mc.allpairtest(stats.ttest_ind, method='bonf')
print(bon_result[0])

mc = MultiComparison(df['토마토수'],df['비료'].astype(str))
bon_result = mc.allpairtest(stats.ttest_ind, method='bonf')
print(bon_result[0])

Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.01, alphacBonf=0.008
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
     A      B -2.3457 0.0224    0.1346  False
     A      C -4.9096    0.0       0.0   True
     A      D -7.0162    0.0       0.0   True
     B      C -2.3944 0.0199    0.1194  False
     B      D -4.2491 0.0001    0.0005   True
     C      D -1.7691 0.0821    0.4928  False
---------------------------------------------
Test Multiple Comparison ttest_ind
FWER=0.05 method=bonf
alphacSidak=0.02, alphacBonf=0.017
=============================================
group1 group2   stat   pval  pval_corr reject
---------------------------------------------
    11     12 -0.0691 0.9451       1.0  False
    11     13 -2.8722 0.0052    0.0157   True
    12     13  -2.411 0.0183    0.0548  False
---------------------------------------------