# 작업형1 모의문제1
- data: members.csv
- 한 개의 셀만 사용해서 문제를 풀어주세요

# 문제1
- n컬럼의 결측치는 중앙 값으로 대체하고
- 나머지 결측치가 있는 데이터(행)을 모두 제거하고
- 앞에서부터 70% 데이터 중 views 컬럼의 3사분위 수에서 1사분위 수를 뺀값을 구하시오
- (단, 데이터 70% 지점은 점수형(int)반환)

In [3]:
import pandas as pd
#csv읽기
members = pd.read_csv('members.csv')

#결측치 찾기
members.isnull().sum()

members

      id    age city    f1  f2      f3    f4         f5  subscribed   views
0   id01    2.0   서울   NaN   0    gold  ENFJ  91.297791  2021-07-16  6820.0
1   id02    9.0   서울  70.0   1     NaN  ENFJ  60.339826  2021-05-12  2534.0
2   id03   27.0   서울  61.0   1    gold  ISTJ  17.252986  2021-03-16  7312.0
3   id04   75.0   서울   NaN   2     NaN  INFP  52.667078  2021-07-21   493.0
4   id05   24.0   서울  85.0   2     NaN  ISFJ  29.269869  2021-03-07  1338.0
..   ...    ...  ...   ...  ..     ...   ...        ...         ...     ...
95  id95   77.0   경기  43.0   1    gold  INTJ  91.297791  2021-05-21  8697.0
96  id96   92.0   경기  53.0   1  silver  ENTJ  52.667078  2021-05-06  4336.0
97  id97  100.0   경기   NaN   0    gold  INFP  67.886373  2021-03-18  6687.0
98  id98   39.0   경기  58.0   2     NaN  INFP  98.429899  2021-10-02   865.0
99  id99    1.0   경기  47.0   0    gold  ESFJ  97.381034  2021-12-02  6090.0

[100 rows x 10 columns]