### mart 판매 데이터를 기반으로 판매액을 예측하시오.
- 제공된 데이터 목록: mart_train.csv (훈련 데이터), mart_test.csv (평가용 데이터)
- 예측할 컬럼: total (총 판매액)
학습용 데이터(mart_train.csv)를 이용하여 총 판매액을 예측하는 모델을 만든 후, 이를 평가용 데이터(mart_test.csv)에 적용하여 얻은 예측값을 다음과 같은 형식의 CSV 파일로 생성하시오.
- 제출 파일은 다음 한 개의 컬럼을 포함해야 합니다.
- pred: 예측된 총 판매액
- 제출 파일명: 'result.csv'
- 제출한 모델의 성능은 RMSE(Root Mean Square Error) 평가지표에 따라 채점한다.
- 제출 CSV 파일명 및 형태: result.csv

~~~
pred
10000
20000
30000
40000
...
~~~

### 답안 제출 참고
- pd.read_csv('result.csv') 로 제출 코드 확인

# 1. 문제정의
- RMSE
- target: total
- 예측 파일명: result.csv
- 컬럼 1개(pred)

# 2. 라이브러리 및 데이터 불러오기

In [1]:
# 데이터 불러오기
import pandas as pd
train = pd.read_csv("mart_train.csv")
test = pd.read_csv("mart_test.csv")

# 3. 탐색적 데이터 분석(EDA)

In [2]:
# 데이터 크기 확인
train.shape, test.shape

((700, 10), (300, 9))

In [3]:
# train  샘플 확인
train.head()

,branch,city,customer_type,gender,product_line,total,payment_method,rating,time_of_day,day_name
0,A,Yangon,Member,Female,Health and beauty,823457.25,Ewallet,9.1,afternoon,Saturday
1,C,Naypyitaw,Normal,Female,Electronic accessories,120330.00,Cash,9.6,morning,Friday
2,A,Yangon,Normal,Male,Home and lifestyle,510788.25,Credit card,7.4,afternoon,Sunday
3,A,Yangon,Member,Male,Health and beauty,733572.00,Ewallet,8.4,evening,Sunday
4,A,Yangon,Normal,Male,Sports and travel,951567.75,Ewallet,5.3,morning,Friday

In [4]:
# test 샘플 확인
test.head()

,branch,city,customer_type,gender,product_line,payment_method,rating,time_of_day,day_name
0,C,Naypyitaw,Normal,Female,Fashion accessories,Ewallet,9.6,afternoon,Thursday
1,B,Mandalay,Normal,Male,Food and beverages,Credit card,4.3,evening,Wednesday
2,B,Mandalay,Member,Female,Fashion accessories,Credit card,5.0,evening,Wednesday
3,B,Mandalay,Member,Male,Health and beauty,Cash,9.2,morning,Sunday
4,B,Mandalay,Member,Female,Home and lifestyle,Cash,6.3,afternoon,Saturday

In [5]:
# 자료형 확인
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   branch          700 non-null    object
 1   city            700 non-null    object
 2   customer_type   700 non-null    object
 3   gender          700 non-null    object
 4   product_line    700 non-null    object
 5   total           700 non-null    float64
 6   payment_method  700 non-null    object
 7   rating          700 non-null    float64
 8   time_of_day     700 non-null    object
 9   day_name        700 non-null    object
dtypes: float64(2), object(8)
memory usage: 54.8+ KB

In [6]:
# train 기초 통계값 확인
train.describe()

              total      rating
count  7.000000e+02  700.000000
mean   4.850780e+05    7.003429
std    3.643907e+05    1.713078
min    1.904175e+04    4.000000
25%    2.001195e+05    5.500000
50%    3.818745e+05    7.000000
75%    7.061276e+05    8.425000
max    1.563975e+06   10.000000

In [8]:
train.describe(include='O')

,branch,city,customer_type,gender,product_line,payment_method,time_of_day,day_name
count,700,700,700,700,700,700,700,700
unique,3,3,2,2,6,3,3,7
top,A,Yangon,Normal,Male,Sports and travel,Cash,evening,Saturday
freq,236,236,354,356,127,246,309,114

In [9]:
# train 결측치
train.isnull().sum()

branch            0
city              0
customer_type     0
gender            0
product_line      0
total             0
payment_method    0
rating            0
time_of_day       0
day_name          0
dtype: int64

In [10]:
# test 결측치
test.isnull().sum()

branch            0
city              0
customer_type     0
gender            0
product_line      0
payment_method    0
rating            0
time_of_day       0
day_name          0
dtype: int64

In [12]:
# traget 
train['total'].value_counts()

283641.75     2
263875.50     2
415422.00     2
326450.25     2
130851.00     2
             ..
293391.00     1
137103.75     1
348232.50     1
104107.50     1
1535625.00    1
Name: total, Length: 695, dtype: int64

# 4. 데이터 전처리

In [14]:
target = train.pop('total')

In [16]:
train = pd.get_dummies(train)
test = pd.get_dummies(test)

# 5. 검증 데이터 분할

In [23]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(train, target, test_size=0.2, random_state=0)
X_tr.shape, X_val.shape, y_tr.shape, y_val.shape

((560, 30), (140, 30), (560,), (140,))

# 6. 머신러닝 학습 및 평가

In [25]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
model = rf.fit(X_tr, y_tr)
pred = model.predict(X_val)
pred

array([546066.045 , 578279.835 , 532296.45  , 548084.4075, 495159.21  ,
       419774.355 , 464927.5575, 550659.06  , 569962.7325, 442991.43  ,
       533436.435 , 313835.9175, 483317.1   , 772205.3325, 474225.885 ,
       390585.195 , 553624.6275, 464890.23  , 514984.68  , 648688.4775,
       491477.0175, 614603.2725, 434590.065 , 538724.4975, 581107.275 ,
       415857.4875, 547410.78  , 486769.3425, 291739.14  , 387871.9425,
       426157.0425, 581832.72  , 337196.6325, 550093.7925, 296767.8   ,
       470672.2125, 466180.3125, 466847.325 , 704970.7875, 475374.2175,
       426557.7225, 503441.505 , 304425.765 , 515050.0425, 618847.74  ,
       319851.7875, 341523.315 , 621907.8075, 664629.6825, 426466.845 ,
       697635.855 , 509414.3775, 378168.0525, 428345.82  , 391869.765 ,
       720886.4775, 507657.3075, 446126.7825, 630664.65  , 515000.2725,
       555140.25  , 506139.6375, 474818.715 , 491461.8975, 668152.9575,
       449131.095 , 782975.34  , 763689.78  , 409705.8525, 418713.12  ,
       478690.5375, 533752.8525, 436007.4075, 522260.865 , 726247.935 ,
       614379.15  , 531807.57  , 390877.2   , 436955.8725, 301915.0575,
       349267.905 , 304169.8275, 535614.1875, 654713.7975, 440073.4275,
       427610.7675, 608710.5675, 814899.645 , 481525.5375, 685487.565 ,
       426914.3025, 655988.76  , 562793.9625, 563698.0125, 398907.18  ,
       586090.7325, 547443.6975, 505710.765 , 633824.415 , 422623.845 ,
       428241.7125, 482261.85  , 526296.015 , 551552.2425, 465536.925 ,
       802793.7225, 649877.445 , 632190.3525, 368136.2475, 450150.12  ,
       401589.2475, 410155.515 , 463019.2875, 288222.165 , 546799.05  ,
       328887.09  , 621074.6325, 519337.035 , 542891.79  , 729274.6125,
       693054.81  , 361957.5225, 381471.1425, 511537.95  , 433987.785 ,
       404571.51  , 372842.19  , 393749.37  , 501956.1225, 741717.4275,
       805616.28  , 371391.7725, 447832.8225, 464918.58  , 563672.1825,
       497307.6675, 422536.59  , 487010.16  , 435066.8175, 460966.1175])

In [28]:
pred = model.predict(test)
pred

array([319681.53  , 668193.2775, 350330.085 , 537739.965 , 550546.92  ,
       462581.91  , 507944.115 , 654953.1975, 502513.0425, 456035.265 ,
       456678.9675, 577458.1575, 497665.5075, 489369.195 , 384054.7725,
       540164.835 , 597172.59  , 587449.485 , 663408.7425, 569170.8225,
       410536.8225, 750745.17  , 331440.165 , 642980.0475, 448425.3375,
       452563.8075, 411845.9625, 441466.9875, 390701.9025, 452056.6575,
       694986.705 , 541376.325 , 485499.8925, 315591.255 , 342288.9225,
       426016.395 , 607538.1375, 572149.1475, 503556.48  , 531280.1025,
       862446.8475, 681918.3   , 689965.29  , 422106.615 , 638270.955 ,
       690153.345 , 314131.3875, 606073.3875, 535833.585 , 431543.8575,
       476401.7475, 459960.165 , 569426.6025, 522620.4375, 694090.53  ,
       608115.8475, 518608.9125, 525425.985 , 354928.14  , 508889.43  ,
       503397.8775, 565008.0975, 487372.2525, 471706.2   , 463560.1425,
       440396.46  , 442938.6675, 465590.16  , 437449.1625, 605613.96  ,
       327605.04  , 549971.1   , 425914.4925, 591852.3975, 600979.8375,
       436652.2125, 460026.4725, 587500.0425, 321887.475 , 431266.815 ,
       392103.18  , 419213.1825, 545547.24  , 637898.31  , 659127.42  ,
       433891.71  , 414259.65  , 455750.9775, 410986.485 , 397877.445 ,
       628889.31  , 523224.135 , 473683.77  , 545453.055 , 724563.315 ,
       555541.0875, 618557.94  , 517522.005 , 387874.7775, 411231.3975,
       437207.8725, 619068.555 , 420327.9675, 444302.46  , 401699.8125,
       701746.1325, 502664.085 , 437048.955 , 731899.035 , 428337.7875,
       443463.7725, 478722.6675, 922585.86  , 324802.9575, 417521.79  ,
       497460.4425, 536114.25  , 490046.6025, 563590.2825, 475963.74  ,
       323829.45  , 878810.7825, 410877.9675, 656042.4675, 482868.225 ,
       691503.75  , 574635.915 , 607767.93  , 426831.3   , 609446.565 ,
       679081.8825, 572666.0625, 512464.365 , 575232.0525, 479562.93  ,
       426761.5275, 244937.2275, 515818.0125, 396096.2775, 511237.755 ,
       584380.2825, 438244.2225, 446170.5675, 688863.105 , 463196.79  ,
       261535.995 , 358277.85  , 498423.87  , 520987.32  , 429216.6375,
       696672.9   , 507680.46  , 569207.3625, 493067.4525, 588375.7425,
       576108.225 , 513074.0475, 509534.0775, 705450.5325, 476795.025 ,
       400674.4875, 441857.5875, 593395.8975, 380130.5025, 484762.4775,
       640015.74  , 495777.555 , 698476.4325, 638504.8425, 496891.8675,
       421247.925 , 476986.3875, 470682.2925, 435128.715 , 428778.63  ,
       367562.475 , 297991.575 , 387789.255 , 600457.2525, 439241.5125,
       552005.5275, 563198.58  , 680079.1725, 726931.3275, 590576.49  ,
       360832.185 , 462458.745 , 639035.6175, 343698.8625, 328720.14  ,
       508036.5675, 413862.435 , 443874.5325, 470122.38  , 540495.585 ,
       553279.86  , 513319.4325, 467956.44  , 444318.84  , 662005.4175,
       536203.395 , 468243.09  , 483412.86  , 492043.545 , 473825.6775,
       645108.66  , 427560.9975, 576912.42  , 513085.0725, 563349.78  ,
       559513.5525, 494790.1875, 260492.5575, 585301.3425, 469483.0875,
       381471.1425, 408182.1975, 442620.36  , 455077.665 , 605057.355 ,
       721286.2125, 468496.35  , 760704.9975, 376232.535 , 353351.0925,
       328798.26  , 417147.0975, 524876.4675, 551057.3775, 487656.54  ,
       373785.4575, 563198.58  , 451470.4425, 521057.0925, 496030.0275,
       534479.5575, 569303.91  , 426428.1   , 655073.2125, 579579.6825,
       426714.12  , 441366.345 , 359710.3125, 358484.9625, 550126.2375,
       563389.47  , 501060.105 , 516353.5125, 427638.4875, 499143.015 ,
       552579.4575, 599373.9675, 549565.065 , 685656.405 , 339457.545 ,
       440769.5775, 527850.54  , 434075.8275, 556103.6775, 477685.6875,
       475201.125 , 424322.955 , 819729.3825, 384506.955 , 676896.255 ,
       831224.0475, 493224.9525, 476718.48  , 561326.6925, 427626.36  ,
       370691.055 , 452500.02  , 515044.215 , 381294.1125, 435470.9625,
       422387.91  , 463725.8325, 490786.065 , 533811.1275, 644525.91  ,
       708839.3025, 510172.74  , 499418.01  , 374643.045 , 325612.98  ,
       392964.39  , 308998.7775, 624145.41  , 700720.02  , 712530.    ,
       686300.4225, 410240.88  , 461256.075 , 263945.9025, 478060.695 ,
       478998.135 , 449116.605 , 548358.3   , 451477.845 , 495783.3825])

# 7. 예측 및 결과 파일 생성

In [31]:
result = pd.DataFrame({
    'pred' : pred
})

result.to_csv('result.csv',index=False)

pd.read_csv('result.csv')

            pred
0    319681.5300
1    668193.2775
2    350330.0850
3    537739.9650
4    550546.9200
..           ...
295  478998.1350
296  449116.6050
297  548358.3000
298  451477.8450
299  495783.3825

[300 rows x 1 columns]